[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build --workspace=client", "npm run build --workspace=server --if-present"]

[start]
cmd = "npm start"
